body {
    margin: 0px;
    width: 2040px;
    height: 840px;
}

.flex {
    display: flex;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
}

.to_left {
    margin-right: auto;
}

.to_right {
    margin-left: auto;
}

img.tag {
    position: absolute;
    top: 7px; /* floor of 840(body)-825(tag) / 2 */
    left: 1214px; /* offset of: 1px (border) + 12px (human content left margin) + 1201px (human content width) */
}

svg.bracket {
    width: 24px;
    height: 100%;
}

.complete {
    border-style: solid;
    border-width: 1px;
}

.human_content {
    margin-top: 20px; /* 28, minus 1 on top and bottom margins to accomodate for the 1px border */
    margin-bottom: 22px;
    margin-left: 12px; /* 14, minus 2 to accomodate for the 1px border on both sides */
    height: 796px;
    width: 1201px; /* 2040(body) - 2*1(borders) - 12 (horizontal margins) - 825(tag) */
}

.upper_content {
    height: 547px;
}

.release_name {
    height: 384px;
}

.platform {
    height: 145px;
    /*align-items: center;*/ /*The contained elements are going above height when uncommented*/
}

.region_values {
    max-width: 270px;
}

.tag_details {
    height: 70px;
}

.occurrence {
    height: 144px;
}

.sp0 {
    height: 2px;
}

.sp1 {
    height: 18px;
}

.sp2 {
    height: 33px;
}
